BODY {
	overflow: scroll;
}

DIV.center {
	text-align: center;
}
DIV.error {
	color: red;
}

TABLE.main {
	width: 1000px;
	border: 2px solid black;
	border-collapse: collapse;
	margin: 0 auto;
}

TR.main#header {
	border: 2px solid black;
	height: 90px;
}

TR.main#middle {
	border: 2px solid black;
}

TR.main#footer {
	text-align: center;
	border: 2px solid black;
	height: 20px;
}

TD.main#menu {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 15px;
	width: 200px;
	vertical-align: top;
}

TD.main#body {
	width: 800px;
	vertical-align: top;
	border-collapse: separate;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

DIV.main {
	width: 730px;
	padding: 15px;
	margin: 5px;
	border: 1px solid darkgray;
	text-align: left;
	min-height: 600px;
}

TABLE.header {
	width: 960px;
	height: 75px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

TD.header#title {
	font-family: "Verdana", Arial;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color: darkslateblue;
	width: 480px;
	vertical-align: center;
}

TD.header#language {
	width: 480px;
	text-align: right;
	vertical-align: bottom;
}

TABLE.lang {
	float: right;
}

TD.lang {
	text-align: right;
	width: 100px;
}

TABLE.up {
	margin-bottom: 5px;
}

TD.up {
	color: grey;
	padding-right: 5px;
}

TD.up#underlined {
	text-decoration: underline;
}

TABLE.list {
	width: 670px;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 20px;
}

TD.list {
	padding-top: 10px;
	padding-bottom: 10px;
}

TD.list#title {
	width: 470px;
	text-align: justify;
	vertical-align: middle;
	padding-right: 10px;
}

TD.list#brief {
	width: 470px;
	text-align: justify;
	vertical-align: top;
	padding-right: 50px;
}

TD.list#date {
	width: 200px;
	text-align: center;
	vertical-align: middle;
	text-decoration: underline;
}

TD.list#select {
	width: 200px;
	text-align: right;
	vertical-align: bottom;
}

TD.select {
	width: 65px;
	text-align: center;
	vertical-align: middle;
}

TABLE.view {
	border-collapse: collapse;
	width: 680px;
	margin-top: 25px;
	margin-left: 25px;
}

TD.label#view {
	width: 200px;
	vertical-align: top;
	color: grey;
	padding-bottom: 10px;
}

TD.label#add {
	width: 200px;
	vertical-align: top;
	padding-bottom: 10px;
}

TD.content {
	width: 370px;
	vertical-align: top;
	text-align: justify;
	padding-right: 100px;
	padding-left: 10px;
}

textarea {
	resize: none;
}

textarea#brief {
	width: 400px;
	height: 100px;
}

textarea#content {
	width: 400px;
	height: 200px;
}

TD.error {
	color: red;
}

#inline {
	display: inline-block;
}

DIV.buttons#view {
	margin: 10px;
	width: 200px;
	text-align: right;
	margin: 10px;
	float: right;
}

DIV.buttons#edit {
	margin: 10px;
	width: 230px;
	text-align: center;
}

.button {
	width: 80px;
	height: 25px;
	border: 1px solid black;
}

a:link {
	color: darkblue;
	text-decoration: none;
}

a:visited {
	color: darkblue;
	text-decoration: none;
}

a:active {
	color: orange;
}

a:link.menu {
	color: darkblue;
	text-decoration: underline;
}

a:visited.menu {
	color: darkblue;
	text-decoration: underline;
}

a:active.menu {
	color: orange;
	text-decoration: underline;
}

a:hover.menu {
	color: orange;
	text-decoration: underline;
}
a:link.lang {
	color: darkblue;
	text-decoration: underline;
}

a:visited.lang {
	color: darkblue;
	text-decoration: underline;
}

a:active.lang {
	text-decoration: underline;
}

a:hover.lang {
	text-decoration: underline;
}

TD.menu {
	text-align: left;
}